@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
  }
  .primary-bg{
    background: linear-gradient(180deg, rgba(17,24,39,1) 57%, rgba(23,31,47,1) 86%);
  }
  .padding-x{
    padding-left: 1rem;
    padding-right:1rem;
  }
  .gray-border{
    border:1px solid rgb(66, 66, 66);
    border-radius:7px;
  }
  .paragraphStyle {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem;
    font-weight: 100;
    font-weight:500;
    
  }
  .nuxt-link-active  {
    color: #DB1F2A;
    border-color:#DB1F2A ;
  }
  
.bg-none{
    background: none;
}
.swiper-wrapper {
  align-items: center;
}

.swiper-button-next {
  background-image: url(@/assets/Chevron_Right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 2rem;
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev{
  background-image: url(@/assets/Chevron_Right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 2rem;
  transform: rotate(180deg);
}
.swiper-button-prev::after {
  display: none;
}

html {
  scroll-behavior: smooth;
}
.swiper-slide {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}